<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
</head>
<body>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
        <img src="{% static 'images/bg1.png' %}" class="img-fluid" alt="Responsive image">
        <a href="{% url '_dashboard' %}" class="w3-bar-item w3-button"><i class="fas fa-list-ul "></i> Dashboard</a>
        <a href="{% url '_inventory' %}" class="w3-bar-item w3-button"><i class="fas fa-warehouse "></i> Inventory</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fas fa-money-check-alt "></i> Accounting</a>
        <a href="{% url '_pos' %}" class="w3-bar-item w3-button"><i class="fas fa-shopping-cart "></i> POS</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fas fa-cogs"></i> Setting</a>
        <a href="#" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>

      <div class="w3-main" style="margin-left:200px">
      <div class="w3-blue">
        <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <div class="w3-container">
          <h1>Point of Sale</h1>
        </div>
      </div>

      <div class="w3-container">
            {% block content %}{% endblock %}
            {% include 'pos/footer.html '%}
      </div>

      </div>

      <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
      </script>



</body>
</html>
